<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ExceptionString" value="Not a Valid string key"/>
    <add key="WelcomeString" value="Welcome to experience the Game of Life.."/>
    <add key="Instructions1" value="You have to first enter a Grid size e.g. 10,20 "/>
    <add key="Instructions2" value="You would be prompted to enter the location of all live cells in following format.. "/>
    <add key="Instructions3" value="rownum,colnum - rownum,columnnum"/>
    <add key="Instructions4" value="Example - 0,0 - 2,2 - Means that the cells in the specific rownumber and the column number are alive."/>
    <add key="Instructions5" value="Press ENTER after entering the values."/>
    <add key="Instructions6" value="Press Q without anything else to exit."/>
    <add key="AskforGridSize" value="Please enter Grid Size in format Number of Rows,Number of Columns"/>
    <add key="InvalidGridSize" value="Grid Size or Value not Valid. Please enter Valid Grid Size in specified format"/>
    <add key="AskforCells" value="Please enter Cell Size in format Number of Row,Number of Column - Next number of Row,Next number of Column"/>
    <add key="InvalidCellInput" value="Cell Size or Value not Valid. Please enter Valid Cell Size in specified format"/>
    <add key="AliveCellDisplay" value="+"/>
    <add key="DeadCellDisplay" value="o"/>
    <add key="InPlaceOrSnapShot" value="1"/> <!--0 means InPlace and 1 means SnapShot -->
  </appSettings>
</configuration>